# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives**
-Popular Languages that Data Scientists use
-Commonly used libraries by Data Scientists
-Data Science Tools
-Arithmetic Expressions in Python

#### **Some of the popular languages that Data Scientists use are**:
1. Python
2. R Language 
3. SQL 
4. Scala 
5. Java
6. C++
7. Julia

#### **Some commonly used libraries by Data Scientist are**:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib
5. Seaborn
6. Apache Spark
7. Pytorch

| Data Science Tools |
 --------------------
| JupyterLab |
| VS Code |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python:

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [9]:
200/60

3.3333333333333335

## Author
Joe A.